body{

	background-color: darkgray;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

}


.ah{

	display: flex;
	justify-content: center;
	align-self: center;
	
	
    
}

.login{

	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;

}

.home{

	height: 350px;
	width: 400px;
	color: black;
	background-color:white;
	padding: 32px;
	border-radius: 12px;
}

.id1{

	display: flex;
	justify-content: flex-start;
	text-align: start;
	align-items: flex-start;
	flex-direction: column;
	width: 100%;
	height: 45px;

}

.id2{

	display: flex;
	justify-content: flex-start;
	text-align: start;
	align-items: flex-start;
	flex-direction: column;
	width: 100%;
	height: 45px;

}

input{
	
	width: 100%;
	border: border-box;
	border-radius: 10px;
	height: 40px;
	margin-top: 5px;
}

.full-btn{

	height: 40px;
	width:100%;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: white;
	cursor: pointer;
	background-color: blue;
	color: transparent;
	border-radius: 10px;
	border: border-box;
	margin-top: 20px;
}

.butt{

	cursor: pointer;
	background-color: blue;
	border: transparent;
}

.pass{

	color: blue;
	display: flex;
	justify-content: flex-end;
	text-align: end;
	align-items: end;
	margin-top: 20px;
	cursor: pointer;
}
